@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background:cornflowerblue;
}
.container .lado-izq{
position:relative;
background:rgb(26, 39, 77);
padding: 40px;
}
.container .lado-der{
position:relative;
background:#fff;
padding: 40px;
}